name: CD (Publish)

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      DOTNET_VERSION: "10.0.x"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          cache: true
          cache-dependency-path: |
            **/*.csproj
            **/packages.lock.json

      - name: Restore
        run: dotnet restore LMS-Backend.sln

      - name: Publish
        run: dotnet publish LMS-Backend.csproj -c Release -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lms-backend-publish
          path: ./publish